
@{
    ViewBag.Title = "GioHangPartial";
}

<div class="cart">
    <a href="@Url.Action("GioHang", "GioHang")">
        <i class="fa-solid fa-cart-shopping"></i>
        (@ViewBag.TongSoLuong)
    </a>
</div>


