
<footer class="footer">
    <div class="top">
        <ul class="menu">
            <li class="item">
                <a href="">Trang chủ</a>
            </li>
            <li class="item">
                <a href="">Thẻ thành viên</a>
            </li>
            <li class="item">
                <a href="">Hình ảnh</a>
            </li>
            <li class="item">
                <a href="">Hợp tác</a>
            </li>
            <li class="item">
                <a href="">Hỏi đáp</a>
            </li>
            <li class="item">
                <a href="">Ý kiến</a>
            </li>
            <li class="item">
                <a href="">Blogs</a>
            </li>
            <li class="item">
                <a href="">Tuyển dụng</a>
            </li>
            <li class="item">
                <a href="">Liên hệ</a>
            </li>
        </ul>
    </div>

    <div class="main">
        <div class="container">
            <div class="row">
                <div class="inner-item">
                    <div class="img">
                        <img src="https://khangviet.net/media/7UF7HqhXPfhDq1r_KDtxnIHH7ABD4QKl4StzLS8CrOQlr4Ea4PI_beniCvt3aHlH.png"
                             alt="">
                    </div>
                    <p>
                        Vietnamese treatment massage spa with “finger pressure”. We have specialist with 30 years of
                        experience and nice decorated service room.
                    </p>
                </div>
                <div class="inner-item">
                    <h3>
                        Contact Us
                    </h3>
                    <div class="content">
                        <span>
                            Phone
                        </span>
                        <a href="#">0902 323 470</a>
                    </div>
                    <div class="content">
                        <span>
                            Email
                        </span>
                        <a href="#">booking.ansspa@gmail.com</a>
                    </div>
                    <div class="content">
                        <span>
                            Social
                        </span>
                        <div class="icon-social">
                            <a href="">
                                <i class="fa-brands fa-facebook"></i>
                                <span>
                                    Facebook
                                </span>
                            </a>
                            <a href="">
                                <i class="fa-brands fa-youtube"></i>
                                <span>
                                    Youtube
                                </span>
                            </a>
                            <a href="">
                                <i class="fa-brands fa-instagram"></i>
                                <span>
                                    Instagram
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="inner-item">
                    <h3>
                        Opening time
                    </h3>
                    <div class="content">
                        <span>
                            Every day from 10:00 - 21:00
                        </span>
                    </div>
                    <div class="content">
                        <span>
                            We also work on holidays & Tet
                        </span>
                    </div>
                </div>
                <div class="inner-item">
                    <h3>
                        Category
                    </h3>
                    <div class="content">
                        <a href="">About us</a>
                    </div>
                    <div class="content">
                        <a href="">Massage Course</a>
                    </div>
                    <div class="content">
                        <a href="">Therapy Service</a>
                    </div>
                    <div class="content">
                        <a href="">Blogs</a>
                    </div>

                    <div class="content">
                        <a href="">Contact us</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</footer>